 #parse( 'global/header.vm' )
 <head>
  <meta charset="utf-8" />
    <!--允许全屏-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <title></title>
 	<link href="$static_resource/css/gift.css" rel="stylesheet" type="text/css" />
</head>
<body >
<div class="gift-bg" id="baseInfoVue">

    <div class="info-warp">
        <img class="icon" src="${userSimple.headIcon}" alt=""/>
        <div class="text-warp">
            <div class="title">${userSimple.nickName}</div>
            <div class="des">我在我请客玩的得心应手，邀请你与我同乐，下载有礼。</br>
				  ##${self.loadHeadIcon(userSimple.headIcon)}
				<span class="fz28 c_r">邀请码：${userSimple.code}</span></div>
        </div>
    </div>
    <div class="ll-info-bg">

    </div>


    <div class="down-info">
        <div class="down-text">将礼物变现，不服来请客</div>
        <div class="down-but"><a href="${h5_download}">点击下载 '我请客' app</a></div>
    </div>
</div>
</body>
</html>


