<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ON">

	<properties>
		<property name="logpath">${sys:user.home}/logs</property>
	</properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="${logpath}/app.log"
			filePattern="${logpath}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}i.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
		</RollingFile>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>
	</loggers>

</configuration>