#parse( 'global/header.vm' )
 <head>
  <meta charset="utf-8" />
    <!--允许全屏-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <title></title>
 	<link href="$static_resource/css/offDetail.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="$static_resource/js/appraise.js"></script>
	
</head>

<body >
<div id="baseInfoVue">
        <div class="head-section">
            <div class="head-title-warp">
                <img class="title-icon" src="$static_resource/image/biz/bizCategory_${treatDetail.userActivities.bizCategory}.png">
                <div class="title-text">
						${treatDetail.userActivities.theme}
                </div>
            </div>
            <div class="head-info-warp">
                <div class="info-left">
                    <div class="info-left-name">
						#if ($treatDetail.userActivities.users.crown>0)
							<img class="info-left-name-icon" src="$static_resource/image/info-left-name-icon.png"/>
						#else
							<img class="info-left-name-icon" src="$static_resource/image/info-left-name-icon.png"/>${treatDetail.userActivities.users.pigeon}
						#end
                        <div>${treatDetail.userActivities.users.nickName}</div>
                    </div>
                    <div class="info-left-age">	
                        <div class="info-left-age-icon"></div>
                        <div>
							<div><span class="fm">
								#if ($treatDetail.userActivities.users.sex==1)
							    ♂
								#else
								♀
								#end
						</span>${self.getAge(${treatDetail.userActivities.users.birthday})} 岁   ${self.getConstellation(${treatDetail.userActivities.users.birthday})}</div>
						</div>
                    </div>
                    <div class="info-left-intr hide">
                        <img class="info-left-intr-icon" src="$static_resource/image/info-left-intr-icon.png"/>
                        <div>运动/美食/旅行</div>
                    </div>
                </div>
                <div class="info-right">
                    <img class="right-img" src="$static_resource/image/xss.png"/>
                    <img class="right-icon" src="$static_resource/image/right-icon.png"/>
                </div>
            </div>
            <div class="head-line-warp">
                <div class="line">
                </div>
                <div class="line-text">
						线下好评率 ${treatDetail.pariseRate}
                </div>
            </div>
            <div class="cor-warp ">
				
				#foreach($item in $treatDetail.praiseList)
					
    				#if($item.appraiseType==300)	
    					<div class="cor-icon-warp bad-cor">
    				#else
    					<div class="cor-icon-warp ">
    				#end	
                    <div class="cor-icon">
						${dict.getAppRaise(${item.appraiseType})}
                    </div>
                    <div class="cor-icon-num">
                        ${item.count}
                    </div>
                </div>
				#end
				
				
				
            </div>
            <div class="nocor-warp">
                <img class="nocor-warp-img" src="$static_resource/image/nocor-warp-img.png" alt=""/>
                <div class="nocor-warp-text">额...还没有人对TA评价过...</div>

            </div>

        </div>

        <div class="dt-box">
            <img class="dt-img" src="${treatDetail.userActivities.bizIcon}"/>
            <div class="dt-right-warp">
                <div class="dt-title-warp">
                    <div class="dt-title">
						${treatDetail.userActivities.bizName}
                    </div>
                    <div class="dt-type">
						##0 其他 1 美食 2 KTV 3 电影 4 咖啡  5 酒吧
						#if ($treatDetail.userActivities.bizCategory==0)
							其他 
						#elseif($treatDetail.userActivities.bizCategory==1)
							美食
						#elseif($treatDetail.userActivities.bizCategory==2)
							KTV
					    #elseif($treatDetail.userActivities.bizCategory==3)
							电影
						#elseif($treatDetail.userActivities.bizCategory==4)
							咖啡
						#elseif($treatDetail.userActivities.bizCategory==5)
							酒吧
						#else
							未知
						#end
                    </div>

                </div>
                <div class="dt-des-warp">
                    <div class="dt-adds">
							${treatDetail.userActivities.bizAddr}
                    </div>
                    <div class="dt-met">
                        1.5KM
                    </div>
                </div>
                <div class="dt-rem">

                    <div class="dt-rem-dt">
							世界文化
							${treatDetail.userActivities.bizRate}
                    </div>
                    <div class="dt-rem-dt">
							世界文化史
							${treatDetail.userActivities.bizAvg}
                    </div>
                </div>
            </div>
        </div>

    <div class="mes-warp">
        <div class="mes-title">留言
        </div>
        <div class="mes-des">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${treatDetail.userActivities.descriptions}
        </div>
    </div>
  
	<div class="fix-foot">
		<div class="foot-time">
			$!date.format('yyyy-MM-dd HH:mm:ss ',$!treatDetail.userActivities.activityTime)
        </div>
        <div class="foot-money">
			赴约补贴${treatDetail.userActivities.subsidy}元
        </div>
        <div class="foot-jion">
			<a href="${h5_download}">下载</>
        </div>
　　　</div>
	

 </div>
</body>
</html>
