<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.navigate.treat.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.navigate.treat.domain.Users" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="main_head_photo_url" property="main_head_photo_url" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="constellation" property="constellation" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="treat_number" property="treat_number" jdbcType="VARCHAR" />
    <result column="affective_state" property="affective_state" jdbcType="INTEGER" />
    <result column="profession" property="profession" jdbcType="INTEGER" />
    <result column="city_code" property="city_code" jdbcType="VARCHAR" />
    <result column="income" property="income" jdbcType="INTEGER" />
    <result column="is_drink" property="is_drink" jdbcType="INTEGER" />
    <result column="is_smoking" property="is_smoking" jdbcType="INTEGER" />
    <result column="credit_balance" property="credit_balance" jdbcType="INTEGER" />
    <result column="user_sign" property="user_sign" jdbcType="VARCHAR" />
    <result column="login_time" property="login_time" jdbcType="TIMESTAMP" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="mobile_device" property="mobile_device" jdbcType="VARCHAR" />
    <result column="pretty_num" property="pretty_num" jdbcType="INTEGER" />
    <result column="review" property="review" jdbcType="INTEGER" />
    <result column="user_source" property="user_source" jdbcType="VARCHAR" />
    <result column="phone_type" property="phone_type" jdbcType="INTEGER" />
    <result column="otime" property="otime" jdbcType="TIMESTAMP" />
    <result column="names" property="names" jdbcType="VARCHAR" />
    <result column="modify_names_time" property="modify_names_time" jdbcType="TIMESTAMP" />
    <result column="versions" property="versions" jdbcType="INTEGER" />
    <result column="provice_code" property="provice_code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mobile, pwd, main_head_photo_url, nickname, sex, birthday, height, constellation, 
    ctime, mtime, treat_number, affective_state, profession, city_code, income, is_drink, 
    is_smoking, credit_balance, user_sign, login_time, coordinate, mobile_device, pretty_num, 
    review, user_source, phone_type, otime, names, modify_names_time, versions, provice_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.navigate.treat.domain.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.navigate.treat.domain.UsersExample" >
    delete from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navigate.treat.domain.Users" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into users (id, mobile, pwd, 
      main_head_photo_url, nickname, sex, 
      birthday, height, constellation, 
      ctime, mtime, treat_number, 
      affective_state, profession, city_code, 
      income, is_drink, is_smoking, 
      credit_balance, user_sign, login_time, 
      coordinate, mobile_device, pretty_num, 
      review, user_source, phone_type, 
      otime, names, modify_names_time, 
      versions, provice_code)
    values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{main_head_photo_url,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{birthday,jdbcType=DATE}, #{height,jdbcType=INTEGER}, #{constellation,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, #{treat_number,jdbcType=VARCHAR}, 
      #{affective_state,jdbcType=INTEGER}, #{profession,jdbcType=INTEGER}, #{city_code,jdbcType=VARCHAR}, 
      #{income,jdbcType=INTEGER}, #{is_drink,jdbcType=INTEGER}, #{is_smoking,jdbcType=INTEGER}, 
      #{credit_balance,jdbcType=INTEGER}, #{user_sign,jdbcType=VARCHAR}, #{login_time,jdbcType=TIMESTAMP}, 
      #{coordinate,jdbcType=VARCHAR}, #{mobile_device,jdbcType=VARCHAR}, #{pretty_num,jdbcType=INTEGER}, 
      #{review,jdbcType=INTEGER}, #{user_source,jdbcType=VARCHAR}, #{phone_type,jdbcType=INTEGER}, 
      #{otime,jdbcType=TIMESTAMP}, #{names,jdbcType=VARCHAR}, #{modify_names_time,jdbcType=TIMESTAMP}, 
      #{versions,jdbcType=INTEGER}, #{provice_code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.navigate.treat.domain.Users" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="main_head_photo_url != null" >
        main_head_photo_url,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="constellation != null" >
        constellation,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="treat_number != null" >
        treat_number,
      </if>
      <if test="affective_state != null" >
        affective_state,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="city_code != null" >
        city_code,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="is_drink != null" >
        is_drink,
      </if>
      <if test="is_smoking != null" >
        is_smoking,
      </if>
      <if test="credit_balance != null" >
        credit_balance,
      </if>
      <if test="user_sign != null" >
        user_sign,
      </if>
      <if test="login_time != null" >
        login_time,
      </if>
      <if test="coordinate != null" >
        coordinate,
      </if>
      <if test="mobile_device != null" >
        mobile_device,
      </if>
      <if test="pretty_num != null" >
        pretty_num,
      </if>
      <if test="review != null" >
        review,
      </if>
      <if test="user_source != null" >
        user_source,
      </if>
      <if test="phone_type != null" >
        phone_type,
      </if>
      <if test="otime != null" >
        otime,
      </if>
      <if test="names != null" >
        names,
      </if>
      <if test="modify_names_time != null" >
        modify_names_time,
      </if>
      <if test="versions != null" >
        versions,
      </if>
      <if test="provice_code != null" >
        provice_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="main_head_photo_url != null" >
        #{main_head_photo_url,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="constellation != null" >
        #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="treat_number != null" >
        #{treat_number,jdbcType=VARCHAR},
      </if>
      <if test="affective_state != null" >
        #{affective_state,jdbcType=INTEGER},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=INTEGER},
      </if>
      <if test="city_code != null" >
        #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        #{income,jdbcType=INTEGER},
      </if>
      <if test="is_drink != null" >
        #{is_drink,jdbcType=INTEGER},
      </if>
      <if test="is_smoking != null" >
        #{is_smoking,jdbcType=INTEGER},
      </if>
      <if test="credit_balance != null" >
        #{credit_balance,jdbcType=INTEGER},
      </if>
      <if test="user_sign != null" >
        #{user_sign,jdbcType=VARCHAR},
      </if>
      <if test="login_time != null" >
        #{login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="coordinate != null" >
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="mobile_device != null" >
        #{mobile_device,jdbcType=VARCHAR},
      </if>
      <if test="pretty_num != null" >
        #{pretty_num,jdbcType=INTEGER},
      </if>
      <if test="review != null" >
        #{review,jdbcType=INTEGER},
      </if>
      <if test="user_source != null" >
        #{user_source,jdbcType=VARCHAR},
      </if>
      <if test="phone_type != null" >
        #{phone_type,jdbcType=INTEGER},
      </if>
      <if test="otime != null" >
        #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="names != null" >
        #{names,jdbcType=VARCHAR},
      </if>
      <if test="modify_names_time != null" >
        #{modify_names_time,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null" >
        #{versions,jdbcType=INTEGER},
      </if>
      <if test="provice_code != null" >
        #{provice_code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navigate.treat.domain.UsersExample" resultType="java.lang.Integer" >
    select count(*) from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update users
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null" >
        pwd = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.main_head_photo_url != null" >
        main_head_photo_url = #{record.main_head_photo_url,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.constellation != null" >
        constellation = #{record.constellation,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mtime != null" >
        mtime = #{record.mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.treat_number != null" >
        treat_number = #{record.treat_number,jdbcType=VARCHAR},
      </if>
      <if test="record.affective_state != null" >
        affective_state = #{record.affective_state,jdbcType=INTEGER},
      </if>
      <if test="record.profession != null" >
        profession = #{record.profession,jdbcType=INTEGER},
      </if>
      <if test="record.city_code != null" >
        city_code = #{record.city_code,jdbcType=VARCHAR},
      </if>
      <if test="record.income != null" >
        income = #{record.income,jdbcType=INTEGER},
      </if>
      <if test="record.is_drink != null" >
        is_drink = #{record.is_drink,jdbcType=INTEGER},
      </if>
      <if test="record.is_smoking != null" >
        is_smoking = #{record.is_smoking,jdbcType=INTEGER},
      </if>
      <if test="record.credit_balance != null" >
        credit_balance = #{record.credit_balance,jdbcType=INTEGER},
      </if>
      <if test="record.user_sign != null" >
        user_sign = #{record.user_sign,jdbcType=VARCHAR},
      </if>
      <if test="record.login_time != null" >
        login_time = #{record.login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coordinate != null" >
        coordinate = #{record.coordinate,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile_device != null" >
        mobile_device = #{record.mobile_device,jdbcType=VARCHAR},
      </if>
      <if test="record.pretty_num != null" >
        pretty_num = #{record.pretty_num,jdbcType=INTEGER},
      </if>
      <if test="record.review != null" >
        review = #{record.review,jdbcType=INTEGER},
      </if>
      <if test="record.user_source != null" >
        user_source = #{record.user_source,jdbcType=VARCHAR},
      </if>
      <if test="record.phone_type != null" >
        phone_type = #{record.phone_type,jdbcType=INTEGER},
      </if>
      <if test="record.otime != null" >
        otime = #{record.otime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.names != null" >
        names = #{record.names,jdbcType=VARCHAR},
      </if>
      <if test="record.modify_names_time != null" >
        modify_names_time = #{record.modify_names_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.versions != null" >
        versions = #{record.versions,jdbcType=INTEGER},
      </if>
      <if test="record.provice_code != null" >
        provice_code = #{record.provice_code,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update users
    set id = #{record.id,jdbcType=BIGINT},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      pwd = #{record.pwd,jdbcType=VARCHAR},
      main_head_photo_url = #{record.main_head_photo_url,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      birthday = #{record.birthday,jdbcType=DATE},
      height = #{record.height,jdbcType=INTEGER},
      constellation = #{record.constellation,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=TIMESTAMP},
      mtime = #{record.mtime,jdbcType=TIMESTAMP},
      treat_number = #{record.treat_number,jdbcType=VARCHAR},
      affective_state = #{record.affective_state,jdbcType=INTEGER},
      profession = #{record.profession,jdbcType=INTEGER},
      city_code = #{record.city_code,jdbcType=VARCHAR},
      income = #{record.income,jdbcType=INTEGER},
      is_drink = #{record.is_drink,jdbcType=INTEGER},
      is_smoking = #{record.is_smoking,jdbcType=INTEGER},
      credit_balance = #{record.credit_balance,jdbcType=INTEGER},
      user_sign = #{record.user_sign,jdbcType=VARCHAR},
      login_time = #{record.login_time,jdbcType=TIMESTAMP},
      coordinate = #{record.coordinate,jdbcType=VARCHAR},
      mobile_device = #{record.mobile_device,jdbcType=VARCHAR},
      pretty_num = #{record.pretty_num,jdbcType=INTEGER},
      review = #{record.review,jdbcType=INTEGER},
      user_source = #{record.user_source,jdbcType=VARCHAR},
      phone_type = #{record.phone_type,jdbcType=INTEGER},
      otime = #{record.otime,jdbcType=TIMESTAMP},
      names = #{record.names,jdbcType=VARCHAR},
      modify_names_time = #{record.modify_names_time,jdbcType=TIMESTAMP},
      versions = #{record.versions,jdbcType=INTEGER},
      provice_code = #{record.provice_code,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navigate.treat.domain.Users" >
    update users
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="main_head_photo_url != null" >
        main_head_photo_url = #{main_head_photo_url,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="constellation != null" >
        constellation = #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="treat_number != null" >
        treat_number = #{treat_number,jdbcType=VARCHAR},
      </if>
      <if test="affective_state != null" >
        affective_state = #{affective_state,jdbcType=INTEGER},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=INTEGER},
      </if>
      <if test="city_code != null" >
        city_code = #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=INTEGER},
      </if>
      <if test="is_drink != null" >
        is_drink = #{is_drink,jdbcType=INTEGER},
      </if>
      <if test="is_smoking != null" >
        is_smoking = #{is_smoking,jdbcType=INTEGER},
      </if>
      <if test="credit_balance != null" >
        credit_balance = #{credit_balance,jdbcType=INTEGER},
      </if>
      <if test="user_sign != null" >
        user_sign = #{user_sign,jdbcType=VARCHAR},
      </if>
      <if test="login_time != null" >
        login_time = #{login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="coordinate != null" >
        coordinate = #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="mobile_device != null" >
        mobile_device = #{mobile_device,jdbcType=VARCHAR},
      </if>
      <if test="pretty_num != null" >
        pretty_num = #{pretty_num,jdbcType=INTEGER},
      </if>
      <if test="review != null" >
        review = #{review,jdbcType=INTEGER},
      </if>
      <if test="user_source != null" >
        user_source = #{user_source,jdbcType=VARCHAR},
      </if>
      <if test="phone_type != null" >
        phone_type = #{phone_type,jdbcType=INTEGER},
      </if>
      <if test="otime != null" >
        otime = #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="names != null" >
        names = #{names,jdbcType=VARCHAR},
      </if>
      <if test="modify_names_time != null" >
        modify_names_time = #{modify_names_time,jdbcType=TIMESTAMP},
      </if>
      <if test="versions != null" >
        versions = #{versions,jdbcType=INTEGER},
      </if>
      <if test="provice_code != null" >
        provice_code = #{provice_code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navigate.treat.domain.Users" >
    update users
    set mobile = #{mobile,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      main_head_photo_url = #{main_head_photo_url,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      height = #{height,jdbcType=INTEGER},
      constellation = #{constellation,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      treat_number = #{treat_number,jdbcType=VARCHAR},
      affective_state = #{affective_state,jdbcType=INTEGER},
      profession = #{profession,jdbcType=INTEGER},
      city_code = #{city_code,jdbcType=VARCHAR},
      income = #{income,jdbcType=INTEGER},
      is_drink = #{is_drink,jdbcType=INTEGER},
      is_smoking = #{is_smoking,jdbcType=INTEGER},
      credit_balance = #{credit_balance,jdbcType=INTEGER},
      user_sign = #{user_sign,jdbcType=VARCHAR},
      login_time = #{login_time,jdbcType=TIMESTAMP},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      mobile_device = #{mobile_device,jdbcType=VARCHAR},
      pretty_num = #{pretty_num,jdbcType=INTEGER},
      review = #{review,jdbcType=INTEGER},
      user_source = #{user_source,jdbcType=VARCHAR},
      phone_type = #{phone_type,jdbcType=INTEGER},
      otime = #{otime,jdbcType=TIMESTAMP},
      names = #{names,jdbcType=VARCHAR},
      modify_names_time = #{modify_names_time,jdbcType=TIMESTAMP},
      versions = #{versions,jdbcType=INTEGER},
      provice_code = #{provice_code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>