<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<properties>
		<property name="logpath">${sys:user.home}/logs</property>
	</properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="${logpath}/app-api.log"
			filePattern="${logpath}/$${date:yyyy-MM}/p2p-manage_%d{yyyy-MM-dd}_%i.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="STDOUT" />
			<!-- <AppenderRef ref="log" /> -->
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>
